flask==3.0.3
flask-jwt-extended==4.6.0
flask-bcrypt==1.0.1
flask-sqlalchemy==3.1.1
flask-cors==4.0.1
flask-migrate==4.0.7
python-dotenv==1.0.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
yfinance==0.2.40
tensorflow==2.16.1
Pillow==10.3.0
matplotlib==3.9.0
pandas==2.2.2
numpy==1.26.4
